<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="Chart.min.js">
  var Chartjs = Chart.noConflict()
</script>
</head>
<body>
<div id="updates"></div>
<canvas id="myChart" width="1000" height="1000"></canvas>
<script>
	var ctx = document.getElementById("myChart").getContext("2d");
	var myChart = new Chart(ctx);
	var data = {
		    labels: [],
		    datasets: [
		        {
		            label: "CPU Percentage",
		            fillColor: "rgba(151,187,205,0.2)",
		            strokeColor: "rgba(151,187,205,1)",
		            pointColor: "rgba(151,187,205,1)",
		            pointStrokeColor: "#fff",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(151,187,205,1)",
		            data: []
		        }
		    ]
		};
	var lineChart = myChart.Line(data, {bezierCurve: true});
	function init(){
    	var output = document.getElementById("updates");
   	 	var websocket = new WebSocket("ws://152.54.14.32:8081/updates")
   		websocket.onmessage = function(evt){
   	    	var msg = JSON.parse(evt.data);
   	    	lineChart.addData([msg.cpu_percent], new Date(msg.timestamp * 1000).toDateString());
   		};
	}
	window.addEventListener("load", init, false);
</script>
</body>
</html>