<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Workflows</title>
<link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}"/>
<script src="{{static_url('js/jquery-1.11.2.min.js')}}"></script>
</head>
<body>
<h1>Workflows</h1>
<table class="table table-hover">
<thead>
	<tr>
		<th>Name</th>
		<th>Created at</th>
	</tr>
</thead>
<tbody>
	{% for w in workflows %}
		<tr>
			<td><a href="/types/{{w['name']}}">{{w['name']}}</a></td>
			<td>{{w['timestamp']}}</td>
		</tr>
	{% end %}
</tbody>
</table>
</body>
</html>