<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Workflows</title>
<link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}"/>
<script src="{{static_url('js/jquery-1.11.2.min.js')}}"></script>
<script src="{{static_url('js/bootstrap.min.js')}}"></script>
<script src="{{static_url('js/utils.js')}}"></script>
<script src="{{static_url('js/workflows.js')}}"></script>
</head>
<body>
<section class="container">
	<h1>Workflows</h1>
	<h2>Listing</h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Workflow Type</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			{% for w in workflows %}
			<tr>
				<td><a href="/workflows/{{w['name']}}">{{w['name']}}</a></td>
				<td>{{w['notes']}}</td>
			</tr>
			{% end %}
		</tbody>
	</table>
	<h2>Start A New Workflow</h2>
	<div class="control-group">
		<div id="types" class="field">
			<label for="type">Workflow Type</label>
			<div id="type">
			{% for w in workflows %}
				<label>
					{{w['name']}}
					<input type="radio" id="{{w['name']}}" name="type" value="{{w['name']}}" class="opts"/>
				</label>
			{% end %}	
			</div>
		</div>
		<label for="topology">Topology</label>
		<div id="topology">
			{% for t in data['topology'] %}
			<label>
				{{t['name']}}
				<input type="radio" id="{{t['name']}}" name="topology" value="{{t['name']}}" class="opts"/>
			</label>
			{% end %}
		</div>
		<label for="mode">Mode</label>
		<div id="mode">
			{% for m in data['mode'] %}
			<label>
				{{m['name']}}
				<input type="radio" id="{{m['name']}}" name="mode" value="{{m['name']}}" class="opts"/>
			</label>
			{% end %}
		</div>
		<label for="worker-size">Worker Size</label>
		<div id="worker-size">
			{% for w in data['worker_size'] %}
			<label>
				{{w['name']}}
				<input type="radio" id="{{w['name']}}" name="worker-size" value="{{w['value']}}" class="opts"/>
			</label>
			{% end %}
		</div>
		<label for="storage-site">Storage Site</label>
		<div id="storage-site">
			{% for ss in data['storage_site'] %}
			<label>
				{{ss['name']}}
				<input type="radio" id="{{ss['name']}}" name="storage-site" value="{{ss['name']}}" class="opts"/>
			</label>
			{% end %}
		</div>
		<label for="storage-type">Storage Type</label>
		<div id="storage-type">
			{% for st in data['storage_type'] %}
			<label>
				{{st['name']}}
				<input type="radio" id="{{st['name']}}" name="storage-type" value="{{st['name']}}" class="opts"/>
			</label>
			{% end %}
		</div>
		<div id="worker-num" class="field">
			<label for="worker-num">Worker Number</label>
			<input type="number" name="worker-num" class="form-control" />
		</div>
		<div id="run-num" class="field">
			<label for="run-num">Run Number</label>
			<input type="number" name="run-num" class="form-control" />
		</div>
		<div id="interval" class="field">
			<label for="interval">Check-in Interval(seconds)</label>
			<input type="number" name="interval" class="form-control" />
		</div>
		<div id="reservation" class="field">
			<label for="reservation">Reservation(days)</label>
			<input type="number" name="reservation" class="form-control" />
		</div>
		<div id="bandwidth" class="field">
			<label for="bandwidth">Bandwidth(in Mbps, optional)</label>
			<input type="number" name="bandwidth" class="form-control" />
		</div>
		<div id="storage-size" class="field">
			<label for="storage-size">Storage Size(in GBs, optional)</label>
			<input type="number" name="storage-size" class="form-control" />
		</div>
		
		<button id="submit" class="btn btn-success pull-right">Submit</button>
	</div>
</section>
</body>
</html>