<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Worker</title>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{{static_url('js/Chart.min.js')}}">
  var Chartjs = Chart.noConflict()
</script>
<script>
	$(document).ready(function(){
		var cpuMemChart = new Chart($('#cpu_mem_pct').get(0).getContext("2d"));
		var data = {
			    labels: [],
			    datasets: [
			        {
			            label: "CPU Percentage",
			            fillColor: "rgba(151,187,205,0.2)",
			            strokeColor: "rgba(151,187,205,1)",
			            pointColor: "rgba(151,187,205,1)",
			            pointStrokeColor: "#fff",
			            pointHighlightFill: "#fff",
			            pointHighlightStroke: "rgba(151,187,205,1)",
			            data: []
			        }
			    ]
			};
		var cpuMemLineChart = cpuMemChart.Line(data, {bezierCurve: true});
		$.ajax({
			url: window.location.pathname,
			type: 'POST',
			contentType: 'application/json',
			success: function(data){
				for(i = 0; i < data.length; i ++){
					cpuMemLineChart.addData([data[i].avg_cpu_percent], data[i].executable);
				}
			}
		});
	});
</script>
</head>
<body>
<canvas id="cpu_mem_pct" width="100%" height="500"></canvas>
</body>
</html>