@CHARSET "UTF-8";
h3{
	min-width: 1500px;
	float: left;
}

input{
	max-width: 120px;
}

canvas{
	float:left;
}

.form-inline{
	margin-top: 5px;
	margin-bottom: 5px;
}

#start-time-picker, #end-time-picker{
	float: left;
}

.btn{
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}

.btn#search{
	margin-left: 5px;
	margin-bottom: 0;
	float: none;
}

.num-of-workers, .workload .bandwidth{
	padding:0;
	margin:0;
	border:0;
}

.ops{
	min-width: 200px;
}

.graph{
	min-width: 1300px;
}

.analysis{
	float: left;
	height: 500px;
	max-width: 250px;
}

.download-image{
	margin-top: 20px;
	float: left;
}

#filter{
	margin-bottom: 20px;
	padding: 10px;
	border: #ccc solid 1px;
	border-radius: 5px;
}

#table-content{
	max-height: 500px;
	overflow:auto;
}

#chart{
	padding: 10px;
	min-width: 1300px;
	min-height: 550px;
}




