@CHARSET "UTF-8";

div#analysis{
	max-height: 50px;
}

div.dropdown, input{
	float: left;
}

input{
	max-width: 200px;
	margin-left: 2px;
	margin-right: 2px;
}

button{
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}

.worker_num, .workload-size .bandwidth{
	max-width:20px;
	padding:0;
	margin:0;
	border:0;
}
.ops{
	min-width: 150px;
}

#table-content{
	max-height: 500px;
	overflow:auto;
}


